* {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #212121;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

.hiden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button {
  font-style: normal;
  font-family: Roboto;
  letter-spacing: 0.03em;
}

body {
  font-style: normal;
  font-family: Roboto;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (min-width: 1200px) {
  .logo.second {
    margin-right: 0px;
  }
}

.logo--blue {
  color: #2196f3;
}

.logo--white {
  color: #000000;
}

.logo--black {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav__icon {
    padding: 0;
    border: 0;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    z-index: 1;
  }
  .nav__icon:focus, .nav__icon:hover {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .nav__icon {
    display: none;
  }
}

.cross__icon {
  display: none;
}

.nav__icon.is-open .cross__icon {
  display: block;
}

.menu__icon {
  display: block;
}

.nav__icon.is-open .menu__icon {
  display: none;
}

.fons {
  padding: 48px 0 48px 40px;
  position: fixed;
  display: none;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.fons.is-open {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  border-bottom: 1px solid #ececec;
  padding: 10px 0px;
  background-color: #ffffff;
  height: 60px;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
    padding: 21px 0px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding: 25px 0px;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .header__list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__link {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav__link:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.nav--choise,
.nav--active {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .nav--choise,
  .nav--active {
    font-size: 40px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .nav--choise,
  .nav--active {
    padding: 32px 0;
  }
}

.nav__line {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: -31px;
}

@media screen and (max-width: 767px) {
  .nav__line {
    display: none;
  }
}

.nav--active {
  color: #2196f3;
  border-radius: 2px;
}

.nav--choise:hover,
.nav--choise:focus {
  color: #2196f3;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 64px;
  }
  .header__link--font {
    font-size: 34px;
    line-height: 1.17;
    color: #2196F3;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__link:hover, .header__linkfocus {
  color: #2196f3;
}

.linked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.linked__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  padding: 0 10px;
}

.linked__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__icon {
  fill: #757575;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

@media screen and (max-width: 767px) {
  .header__icon {
    display: none;
  }
}

.header__contacts:hover .header__icon,
.header__contacts:focus .header__icon {
  fill: #2196f3;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/fon@2x.jpg);
  }
}

.hero__title {
  margin: 0 0 30px 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
}

.advantage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding: 94px 0;
  }
}

.advantage__item {
  /* height: 101px; */
}

@media screen and (min-width: 768px) {
  .advantage__item {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    width: calc((100% - 4 * 30px)/4);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: left;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
}

.advantage__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.working {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .working {
    display: none;
  }
}

.working__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px 0px 50px 0px;
  margin-bottom: 50px;
}

.activity__img {
  display: block;
  position: relative;
}

.activity:not(:last-child) {
  margin-right: 30px;
}

.activity__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
}

.activity__signature {
  position: relative;
}

.working__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin: 0px 0px 50px 0px;
  }
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.worker__signature {
  background-color: #ffffff;
  padding: 30px 32px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.worker {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .worker {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .worker {
    width: calc((100% - 4 * 30px)/4);
    margin: 15px;
  }
}

.worker__img {
  display: block;
  width: 100%;
}

.worker__position,
.worker__name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.worker__name {
  font-weight: 500;
  margin-bottom: 10px;
}

.worker__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.worker__link:hover .worker__icon,
.worker__link:focus .worker__icon {
  fill: #ffffff;
}

.worker__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.worker__link:hover, .worker__link:focus {
  background-color: #2196f3;
}

.worker__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.worker__item:not(:last-child) {
  margin-right: 10px;
}

.worker__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: #2196f3;
}

.customers__link:hover,
.customers__link:focus {
  border: 1px solid #2196f3;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__item {
  width: calc((100% - 2 * 30px)/2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 3 * 30px)/3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 6 * 30px)/6);
    margin: 15px;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer__section {
    text-align: center;
    margin-bottom: 60px;
  }
}

.address__list {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  margin: 0;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--active {
  color: #ffffff;
}

.invite {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .invite {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .invite {
    text-align: left;
  }
}

.invite__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.invite__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.invite__link:hover,
.invite__link:focus {
  background-color: #2196f3;
}

.invite__icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.invite__item:not(:last-child) {
  margin-right: 10px;
}

.invite__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscribes {
    width: 570px;
  }
}

.subscribes__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribes__title {
    text-align: left;
  }
}

.subscribes__lable {
  width: 358px;
}

.subscribes__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 16px;
  color: #F5F4FA;
}

@media screen and (max-width: 1199px) {
  .subscribes__input {
    margin-bottom: 20px;
  }
}

.subscribes__button {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .subscribes__button {
    margin-left: 12px;
  }
}

.subscribes__icon {
  padding-left: 10px;
  width: 24px;
  height: 24px;
}

.subscribes__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .subscribes__form {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .subscribes__form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribes__form {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 100%;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.button__modal {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .backdrop__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.backdrop__field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  width: 100%;
  color: #757575;
  position: relative;
}

.chekbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .chekbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.backdrop__input {
  width: 100%;
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
}

.backdrop__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

textarea {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 16px 12px;
}

.chekbox__icon {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__link {
  color: #2196F3;
}

.backdrop__button {
  cursor: pointer;
  height: 50px;
  min-width: 200px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.backdrop__input:focus-within,
textarea:focus__within {
  border: 1px solid #2196F3;
}

.form__input:checked + .chekbox__icon {
  background-color: #2196F3;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 2px;
}

.backdrop__input:focus-within + .backdrop__icon,
.close__icon:focus,
.close__icon:hover {
  fill: #2196f3;
}

.backdrop__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 30px;
  left: 12px;
  fill: #212121;
}

.portfolio {
  padding: 94px 0 94px 0;
}

@media screen and (max-width: 1199px) {
  .portfolio {
    padding: 60px 0;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin: 0 0 50px 0;
  }
}

.filter__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  border: 4px;
  padding: 6px 22px;
  line-height: 1.63;
  color: #212121;
  background-color: #f5f4fa;
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
  }
}

.filter__button:hover,
.filter__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.projeckt__signature {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.projeckt__img {
  display: block;
  width: 100%;
}

.projeckt__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .projeckt__list {
    margin: -15px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.projeckt__item {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projeckt__item {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projeckt__item {
    width: calc((100% - 3 * 30px)/3);
    margin: 15px;
  }
}

.projeckt__link {
  text-decoration: none;
}

.projeckt__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projeckt__type {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.projeckt__item:hover,
.projeckt__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projeckt__item:hover .hidden__description,
.projeckt__item:focus .hidden__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overflow {
  position: relative;
  overflow: hidden;
}

.description {
  padding: 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: left;
}

.hidden__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */