@import "./utils/variables";
@import "./base/animation";
@import './base/reset';
@import "./components/container";
@import "./components/logo";
@import './components/header';
@import "./components/hero";
@import "./components/advantage";
@import "./components/working";
@import "./components/team";
@import "./components/customers";
@import "./components/footer";
@import "./components/backdrop";
@import "./components/projeckts";