.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.button__modal {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close__icon {
    width: 18px;
    height: 18px;
    fill: #000000;
}

.backdrop__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.backdrop__field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    width: 100%;
    color: #757575;
    position: relative;
}

.chekbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-top: 10px;
}

.backdrop__input {
    width: 100%;
    margin-top: 4px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
}

.backdrop__form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.button__position {
    display: flex;
    justify-content: center;
    width: 100%;
}

textarea {
    margin-top: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding: 16px 12px;
}

.chekbox__icon {
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__link {
    color: #2196F3;
}

.backdrop__button {
    cursor: pointer;
    height: 50px;
    min-width: 200px;
    padding: 10px 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.backdrop__input:focus-within,
textarea:focus__within {
    border: 1px solid #2196F3;

}

.form__input:checked+.chekbox__icon {
    background-color: #2196F3;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 2px;
}

.backdrop__input:focus-within+.backdrop__icon,
.close__icon:focus,
.close__icon:hover {
    fill: #2196f3;
}

.backdrop__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 12px;
    fill: #212121;
}