.customers {
    padding: 60px 0;
    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }
}

.customers__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: $desktop) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}

.customers__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
    fill: #2196f3;
}

.customers__link:hover,
.customers__link:focus {
    border: 1px solid #2196f3;
}

.customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
   
}

.customers__link {
    display: flex;
    // width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
   
}

.customers__item{
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
   
@media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 30px)/3);
    margin: 15px;
}
@media screen and (min-width: $desktop) {
    width: calc((100% - 6 * 30px)/6);
    margin: 15px;
}

}