.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.team {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color:$bacground-team;
}

.worker__signature{
    background-color: $background-color;
    padding: 30px 32px;
}

.team__list {
    display: flex;
    margin: 0;
}

.worker {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.worker__img {
    display: block;
}
.worker__position, 
.worker__name{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}
.worker__name{
    font-weight: 500;
    margin-bottom: 10px;
}

.worker__icon {
    width: 20px;
    height: 20px;
    fill: $icon-fill;
   .worker__link:hover &,
   .worker__link:focus &{
        fill: #ffffff;
   }
}

.worker__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,&:focus{
        background-color: $background-color-blue;
    }
}

.worker__item {
    display: flex;
    justify-content: center;
}

.worker__list {
    display: flex;
    justify-content: space-evenly;

}