$color-logo: #2196f3;
$color-logo-first: #000000;
$color-logo-secondary: #ffffff;
$header-text-color: #212121;
$background-color: #ffffff;
$text-color:#2196f3;
$background-color-blue: #2196f3;
$second-text-color: #ffffff;
$background-main: #e5e5e5;
$bacground-team: #f5f4fa;
$primary-text-color: #757575;
$icon-fill: #afb1b8;
$bacground-footer: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);